@import url('https://fonts.googleapis.com/css?family=Lato');
* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	background: #58055f;
}

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

h1 {
	font-size: 50px;
	margin-left: 10%;
	color: rgba(56, 144, 247, 0.99);
	flex: 2;
	margin-top: 20px;
	margin-bottom: 20px;
}

.create-column {
	color: :#1a71fc;
	border: none;
	box-shadow: 5px 5px 5px 2px #000;
	background: #2aa5ff;
	font-size: 20px;
	cursor: pointer;
	padding: 0 20px;
	height: 60px;
	width: 200px;
	margin: 20px;
	outline: none;
	transition: 0.3s;
}

.column-title {
	color: #2c3e50;
	border-bottom: 5px groove #2c3e50;
	padding-bottom: 10px;
}

.create-column:hover {
	transform: scale(1.1);
	color: #f0f8ff;
}

.column-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.column {
	box-shadow: 5px 5px 5px 2px #000;
	margin-top: 100px;
	min-width: 30%;
	min-height: 250px;
	text-align: center;
	background: #0589ea;
	border-radius: 20px;
	position: relative;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin-right: 40px;
}

.add-card {
	border-radius: 50%;
	border: none;
	background: #7b07c4;
	font-size: 25px;
	width: 35px;
	height: 35px;
	cursor: pointer;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 15px;
	outline: none;
	color: #f0f8ff;
	transition: 0.4s;
}

.add-card:hover {
	transform: rotate(180deg);
}

.card-description {

	display: inline-block;
	min-height: 50px;
	display: block;
	text-align: left;
	margin: 10px 25px;
	background: #a3d5f4;
	padding: 5px;
	border-radius: 10px;
	position: relative;
	box-shadow: 5px 5px 5px 2px #000;
	cursor: pointer;
}

.btn-delete {
	border-radius: 50%;
	border: none;
	background: #d30707;
	font-size: 25px;
	width: 35px;
	height: 35px;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	margin: 15px;
	outline: none;
	transition: 0.4s;
	color:#f0f9ff;
}

.btn-delete:hover {
	transform: rotate(180deg);
}


@media (max-width: 780px) {
	.flex {
		flex-direction: column;
		text-align: center;
	}
	.flex button {
		margin: 0 auto;
	}
	.column-container {
		flex-direction: column;
	}

}
